---
import Page from "@layouts/page";
---

<Page title="About me">
	<h1>About me</h1>
	<p>
		I'm currently a senior studying Computer Science at Eastern Washington University. I'm passionate about web development, and I'm always looking for new things to learn. When I am not at my desk like a code monkey, I enjoy playing video games, watching anime, and traveling the world with my girlfriend.
	</p>
</Page>
